*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #82CD47;
    font-size: 18px;
}

h1{
    color: #379237;
    margin: 30px;
    font-size: 25px;
}

label, input,ul{
    margin-left: 30px;
    padding: 10px;
}

hr{
    margin: 30px;
}

button{
    width: 100px;
    padding: 10px;
}

img{
    width: 100px;
    height: 150px;
    margin: 10px;
}

.cont__comentario{
    margin: 30px;
}

#textarea__comentario{
border:2px solid;

}

#textarea__comentario:focus{
    outline: none;
}

.caracteres{
    margin: 30px 0;
}

.cont-conversor{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 30px;
}

.cont-conversor *{
    margin: 10px;
}

.resultado{
    width: 200px;
    border: 1px solid black;
    
    padding: 10px;
}